@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=League+Gothic&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rosario:ital,wght@0,300..700;1,300..700&family=Special+Gothic+Condensed+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=League+Gothic&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rosario:ital,wght@0,300..700;1,300..700&family=Special+Gothic+Condensed+One&display=swap');



* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;

    
}

html {
    scroll-behavior: smooth;
}

.header {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: sticky;
    top: 0;
    z-index: 1;

}

main {
    z-index: 2;
    background: #4A5A2C;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    height:2200px;
}

.experiencia {
    position: absolute;
    top: 70px;
    width: 80vw;
    color: #F9E28C;
}

.processo{
    width:100%;
    display: flex;
    gap:50px;
}

.texto_esquerda{
    width: 50%;
}

.texto_esquerda p{
    font-size: 20px;
    text-align: justify;
}

.img_direita{
    width:40%;
}

.img_direita img{
    width:100%;
}

 h5{
    font-size: 40px;
}

.linha {
    width: 100%;
    height: 2px;
    background-color: #F9E28C;
    margin-bottom: 30px;
}

img {
    border-radius: 3px;
    border: 2px solid #F9E28C;
}


.imagem_final{
    margin-top:50px;
    width:100%;
}

.imagem_final img{
    width:100%;
}


