@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=League+Gothic&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rosario:ital,wght@0,300..700;1,300..700&family=Special+Gothic+Condensed+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=League+Gothic&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rosario:ital,wght@0,300..700;1,300..700&family=Special+Gothic+Condensed+One&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Bocklin';
    src: url('/src/fonts/Bocklin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    overflow-x: hidden;
    width: 100vw;
    background: #fafae9;
    display: flex;
    flex-direction: column;
}

/* INICIO HEADER */

.header {
    background-image: url('/src/images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: sticky;
    top: 0;
    z-index: 1;
}

h1,
h1 span {
    font-family: 'Bocklin', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 70px;
    color: #4A5A2C;
    margin-left: 120px;
    position: relative;
    margin-top: 120px;
    -webkit-text-stroke: 0.0125px #3A2B1A;
}

/* FIM HEADER */

main {
    z-index: 2;
    background: #4A5A2C;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 4000px;
}

/* INICIO PORTFOLIO */

.projetos {
    position: absolute;
    top: 70px;
    width: 80vw;
    color: #F9E28C;
}

.projetos h2 {
    font-size: 40px;
}

.linha {
    width: 100%;
    height: 2px;
    background-color: #F9E28C;
    margin-bottom: 30px;
}

.tarefa {
    display: flex;
    gap: 60px;
    margin-bottom: 60px;
}

.tarefa img {
    width: 40%;
    height:300px;
    border-radius: 3px;
    border: 2px solid #F9E28C;
}


.tarefa_infos {
    display: flex;
    flex-direction: column;
    width:50%;
  
}

.tarefa_infos h5 {
    font-size: 35px;
}

.tarefa_infos h6 {
    font-size: 25px;
    font-weight: 500;
}

.tarefa_infos p {
    font-size: 15px;
    font-weight: 400;
    margin-top: 20px;
    text-align: start;
}

.button_tarefas_infos {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 40px;
}

.button_tarefas_infos a {
    text-decoration: none;
    border-radius: 30px;
    border: none;
    padding: 10px 40px;
    background-color: #F9E28C;
    color: #4A5A2C;
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
}

.button_tarefas_infos a:hover {
    box-shadow: 3px 4.5px 0px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 42px;
    transition-duration: 0.3s;
}


/* FIM PORTFOLIO */